of-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:yin="urn:ietf:params:xml:schema:yang:yin:1"
           targetNamespace="urn:onf:of111:config:yang"
           xmlns="urn:onf:of111:config:yang"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2011-12-07"
           xml:lang="en"
          xmlns:yang="urn:ietf:params:xml:ns:yang:ietf-yang-types"
          xmlns:inet="urn:ietf:params:xml:ns:yang:ietf-inet-types"
          xmlns:of11-config="urn:onf:of111:config:yang">

  <xs:import namespace="urn:ietf:params:xml:ns:yang:ietf-yang-types"
             schemaLocation="ietf-yang-types.xsd"/>
  <xs:import namespace="urn:ietf:params:xml:ns:yang:ietf-inet-types"
             schemaLocation="ietf-inet-types.xsd"/>

  <xs:annotation>
    <xs:documentation>
      This schema was generated from the YANG module of-config1.1.1
      by pyang version 1.2.

      The schema describes an instance document consisting
      of the entire configuration data store, operational
      data, rpc operations, and notifications.
      This schema can thus NOT be used as-is to
      validate NETCONF PDUs.
    </xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      tbd
    </xs:documentation>
  </xs:annotation>

  <!-- YANG typedefs -->
  <xs:simpleType name="openflow-version">
    <xs:annotation>
      <xs:documentation>
        This enumeration contains the all OpenFlow versions
        released so far.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="not-applicable"/>
      <xs:enumeration value="1.0"/>
      <xs:enumeration value="1.0.1"/>
      <xs:enumeration value="1.1"/>
      <xs:enumeration value="1.1.1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datapath-id-type">
    <xs:annotation>
      <xs:documentation>
        The datapath-id type represents an OpenFlow
        datapath identifier.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
    <xs:pattern value="[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){7}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tenth-of-a-percent">
    <xs:annotation>
      <xs:documentation>
        This type defines a value in tenth of a percent.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="up-down-state-type">
    <xs:annotation>
      <xs:documentation>
        Type to specify state information for a port or a
        connection.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="up"/>
      <xs:enumeration value="down"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rate-type">
    <xs:annotation>
      <xs:documentation>
        Type to specify the rate of a port including the
        duplex transmission feature. Possible rates are 10Mb, 100Mb,
        1Gb, 10Gb, 40Gb, 100Gb, 1Tb or other. Rates of 10Mb, 100Mb and
        1Gb can support half or full duplex transmission.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="10Mb-HD"/>
      <xs:enumeration value="10Mb-FD"/>
      <xs:enumeration value="100Mb-HD"/>
      <xs:enumeration value="100Mb-FD"/>
      <xs:enumeration value="1Gb-HD"/>
      <xs:enumeration value="1Gb-FD"/>
      <xs:enumeration value="10Gb"/>
      <xs:enumeration value="40Gb"/>
      <xs:enumeration value="100Gb"/>
      <xs:enumeration value="1Tb"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="action-type">
    <xs:annotation>
      <xs:documentation>
        The types of actions defined in OpenFlow Switch
        Specification version 1.2.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="output"/>
      <xs:enumeration value="acopy-ttl-out"/>
      <xs:enumeration value="copy-ttl-in"/>
      <xs:enumeration value="set-mpls-ttl"/>
      <xs:enumeration value="dec-mpls-ttl"/>
      <xs:enumeration value="push-vlan"/>
      <xs:enumeration value="pop-vlan"/>
      <xs:enumeration value="push-mpls"/>
      <xs:enumeration value="pop-mpls"/>
      <xs:enumeration value="set-queue"/>
      <xs:enumeration value="group"/>
      <xs:enumeration value="set-nw-ttl"/>
      <xs:enumeration value="dec-nw-ttl"/>
      <xs:enumeration value="set-field"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="instruction-type">
    <xs:annotation>
      <xs:documentation>
        The types of instructions defined in OpenFlow Switch
        Specification version 1.2.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="apply-actions"/>
      <xs:enumeration value="clear-actions"/>
      <xs:enumeration value="write-actions"/>
      <xs:enumeration value="write-metadata"/>
      <xs:enumeration value="goto-table"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="match-field-type">
    <xs:annotation>
      <xs:documentation>
        The types of match field defined in OpenFlow Switch
        Specification version 1.2.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="input-port"/>
      <xs:enumeration value="physical-input-port"/>
      <xs:enumeration value="metadata"/>
      <xs:enumeration value="ethernet-dest"/>
      <xs:enumeration value="ethernet-src"/>
      <xs:enumeration value="ethernet-frame-type"/>
      <xs:enumeration value="vlan-id"/>
      <xs:enumeration value="vlan-priority"/>
      <xs:enumeration value="ip-dscp"/>
      <xs:enumeration value="ip-ecn"/>
      <xs:enumeration value="ip-protocol"/>
      <xs:enumeration value="ipv4-src"/>
      <xs:enumeration value="ipv4-dest"/>
      <xs:enumeration value="tcp-src"/>
      <xs:enumeration value="tcp-dest"/>
      <xs:enumeration value="udp-src"/>
      <xs:enumeration value="udp-dest"/>
      <xs:enumeration value="sctp-src"/>
      <xs:enumeration value="sctp-dest"/>
      <xs:enumeration value="icmpv4-type"/>
      <xs:enumeration value="icmpv4-code"/>
      <xs:enumeration value="arp-op"/>
      <xs:enumeration value="arp-src-ip-address"/>
      <xs:enumeration value="arp-target-ip-address"/>
      <xs:enumeration value="arp-src-hardware-address"/>
      <xs:enumeration value="arp-target-hardware-address"/>
      <xs:enumeration value="ipv6-src"/>
      <xs:enumeration value="ipv6-dest"/>
      <xs:enumeration value="ipv6-flow-label"/>
      <xs:enumeration value="icmpv6-type"/>
      <xs:enumeration value="icmpv6-code"/>
      <xs:enumeration value="ipv6-nd-target"/>
      <xs:enumeration value="ipv6-nd-source-link-layer"/>
      <xs:enumeration value="ipv6-nd-target-link-layer"/>
      <xs:enumeration value="mpls-label"/>
      <xs:enumeration value="mpls-tc"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hex-binary">
    <xs:annotation>
      <xs:documentation>
        hex binary encoded string
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:base64Binary">
    </xs:restriction>
  </xs:simpleType>

  <!-- YANG groupings -->

  <xs:group name="openflow-queue-resource-grouping">
    <xs:annotation>
      <xs:documentation>
        This grouping specifies all properties of a queue
        resource.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="resource-id"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            An unique but locally arbitrary identifier that
            identifies a queue and is persistent across reboots of the
            system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id"  type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation>
            An unique but locally arbitrary number that
            identifies a queue and is persistent across reboots of the
            system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="port">
        <xs:annotation>
          <xs:documentation>
            Reference to port resources in the Capable
            Switch.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="inet:uri">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="properties">
        <xs:annotation>
          <xs:documentation>
            The queue properties currently configured.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="min-rate" minOccurs="0"  type="tenth-of-a-percent">
              <xs:annotation>
                <xs:documentation>
                  The minimal rate that is reserved for this queue
                  in 1/10 of a percent of the actual rate. If not present a
                  min-rate is not set.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="max-rate" minOccurs="0"  type="tenth-of-a-percent">
              <xs:annotation>
                <xs:documentation>
                  The maximum rate that is reserved for this queue
                  in 1/10 of a percent of the actual rate. If not present the
                  max-rate is not set.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="experimenter" minOccurs="0" maxOccurs="unbounded"  type="xs:unsignedInt">
              <xs:annotation>
                <xs:documentation>
                  A list of experimenter identifiers of queue
                  properties used.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-owned-certificate-grouping">
    <xs:annotation>
      <xs:documentation>
        This grouping specifies a certificate and a private
        key. It can be used by an OpenFlow Logical Switch for 
        authenticating itself to a controller when a TLS connection is
        established.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="resource-id"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            A unique but locally arbitrary identifier that 
            identifies an external certificate and is persistent across
            reboots of the system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="certificate"  type="xs:string">
        <xs:annotation>
          <xs:documentation>
            An X.509 certificate in DER format base64
            encoded.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="private-key">
        <xs:annotation>
          <xs:documentation>
            tbd.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="KeyValueType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-logical-switch-grouping">
    <xs:annotation>
      <xs:documentation>
        This grouping specifies all properties of an
        OpenFlow Logical Switch.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="id"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            A unique but locally arbitrary identifier that
            identifies a Logical Switch within the context of an OpenFlow 
            Capable Switch.  It MUST be persistent across reboots of the 
            OpenFlow Capable 
            Switch.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="capabilities">
        <xs:annotation>
          <xs:documentation>
            This element contains all capability items that
            an OpenFlow Logical Switch MAY implement.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="openflow-logical-switch-capabilities-grouping"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="datapath-id"  type="datapath-id-type">
        <xs:annotation>
          <xs:documentation>
            The datapath identifier of the Logical Switch that
            uniquely identifies this Logical Switch within the context of 
            all OpenFlow Controllers associated with the OpenFlow Logical 
            Switch.  The datapath identifier is a string value that MUST 
            be formatted as a sequence of 10 2-digit hexadecimal numbers 
            that are separated by colons, for example, 
            '01:23:45:67:89:ab:cd:ef:01:23#.  When processing a datapath
            identifier, the case of the hexadecimal digits MUST be 
            ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enabled"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            This element indicates the administrative state of 
            the OpenFlow Logical Switch.  A value of 'false' means the 
            OpenFlow Logical Switch MUST NOT communicate with any 
            OpenFlow Controllers, MUST NOT conduct any OpenFlow 
            processing, and SHOULD NOT be utilizing computational or 
            network resources of the underlying platform.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="check-controller-certificate"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            This element indicates the behavior of the 
            OpenFlow Logical Switch when connecting to an OpenFlow
            Controller.  
                  
            If set to value 'false', the logical switch will connect to a 
            controller without checking any controller certificate.  
                  
            If set to value 'true', then the logical switch will connect 
            to a controller with element &lt;protocol&gt; set to 'TLS', only if 
            the controller provides a certificate that can be verified 
            with one of the certificates stored in the list 
            called external-certificates in the OpenFlow Capable Switch.  
                  
            If a certificate cannot be validated, the OpenFlow Logical 
            Switch MUST terminate communication with the corresponding  
            OpenFlow Controller, MUST NOT conduct any OpenFlow
            processing on requests of this OpenFlow controller, and 
            SHOULD NOT further utilize any computational or network 
            resources of for dealing with this connection.
                  
            If set to value 'true', the OpenFlow Logical Switch MUST NOT 
            connect to any OpenFlow Controller that does not provide a 
            certificate.  This implies that it cannot connect to an
            OpenFlow controller that has the value of element protocol
            set to 'TCP'.  Only connections with protocol 'TLS' are 
            possible in this case.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lost-connection-behavior">
        <xs:annotation>
          <xs:documentation>
            This element indicates the the behavior of the 
            OpenFlow Logical Switch in case it loses contact with all 
            OpenFlow Controllers.  There are two alternative modes in such 
            a case: fails secure mode and fail standalone mode as defined 
            by the OpenFlow protocol specification version 1.2, section 
            6.4.  These are the only allowed values for this element. 
            Default is the fail secure mode.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="failSecureMode"/>
            <xs:enumeration value="failStandaloneMode"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="controllers">
        <xs:annotation>
          <xs:documentation>
            The list of controllers for this Logical switch.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="controller" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  The list of OpenFlow Controllers that are 
                  assigned to the OpenFlow Logical Switch.  The switch MUST 
                  NOT connect to any OpenFlow Controller that is not contained 
                  in this list.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="openflow-controller-grouping"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
        <xs:unique name="unique_controllers_controller_0">
          <xs:selector xpath="of11-config:controller"/>
          <xs:field xpath="of11-config:id"/>
        </xs:unique>
      </xs:element>
      <xs:element name="resources">
        <xs:annotation>
          <xs:documentation>
            The list of identifiers of all resources of
            the OpenFlow Capable Switch that the OpenFlow Logical Switch
            has exclusive or non-exclusive access to.  A resource is 
            identified by the value of its resource-identifier element.  
            For each resource identifier value in this list, there MUST 
            be an element with a matching resource identifier value in 
            the resources list of the OpenFlow Capable Switch.
                  
            Identifiers of this list are contained in elements indicating
            the type of resource: 'port', 'queue', 'certificate', or 
            'flow-table'.  Depending on the type, different constraints 
            apply.  These are specified in separate descriptions per 
            type.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="port" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  A resource identifier of a port of the OpenFlow 
                  Capable Switch that the OpenFlow Logical Switch has 
                  exclusive access to.
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="inet:uri">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="queue" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  A resource identifier of a queue of the OpenFlow 
                  Capable Switch that the OpenFlow Logical Switch has 
                  exclusive access to.
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="inet:uri">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="certificate" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  The resource identifier of the owned certificate 
                  in the OpenFlow Capable Switch that the OpenFlow Logical
                  Switch uses to identify itself.  This element MUST NOT 
                  occur more than once in an OpenFlow Logical Switch's 
                  resource list.  
                          
                  If no such element is in an OpenFlow Logical Switch's 
                  resource list, then the OpenFlow Logical Switch does not 
                  authenticate itself towards an OpenFloe Controller with a
                  certificate.  If this element is present, then the OpenFlow
                  Logical Switch MUST provide this certificate for 
                  authentication to an OpenFlow Controller when setting up
                  a TLS connection.  
                          
                  For TCP connections this element is irrelevant.
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="inet:uri">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="flow-table" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  A resource identifier of a flow table of the 
                  OpenFlow Capable Switch that the OpenFlow Logical Switch 
                  has exclusive access to.
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="inet:uri">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="DSAKeyValueType">
    <xs:sequence>
      <xs:element name="P"  type="xs:base64Binary"/>
      <xs:element name="Q"  type="xs:base64Binary"/>
      <xs:element name="J"  type="xs:base64Binary"/>
      <xs:element name="G"  type="xs:base64Binary"/>
      <xs:element name="Y"  type="xs:base64Binary"/>
      <xs:element name="Seed"  type="xs:base64Binary"/>
      <xs:element name="PgenCounter"  type="xs:base64Binary"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-port-current-features-grouping">
    <xs:annotation>
      <xs:documentation>
        The current features of a port.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="rate"  type="rate-type">
        <xs:annotation>
          <xs:documentation>
            The transmission rate that is currently used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="auto-negotiate"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Specifies if auto-negotiation of transmission
            parameters was used for the port.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="medium">
        <xs:annotation>
          <xs:documentation>
            The transmission medium used by the port.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="copper"/>
            <xs:enumeration value="fiber"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="pause">
        <xs:annotation>
          <xs:documentation>
            Specifies if pausing of transmission is supported
            at all and if yes if it is asymmetric or symmetric.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="unsupported"/>
            <xs:enumeration value="symmetric"/>
            <xs:enumeration value="asymmetric"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-port-other-features-grouping">
    <xs:annotation>
      <xs:documentation>
        The features of a port that are supported or
        advertised.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="rate"  type="rate-type">
        <xs:annotation>
          <xs:documentation>
            The transmission rate that is supported or
            advertised. Multiple transmissions rates are allowed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="auto-negotiate"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Specifies if auto-negotiation of transmission
            parameters is enabled for the port.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="medium">
        <xs:annotation>
          <xs:documentation>
            The transmission medium used by the port. Multiple
            media are allowed.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="copper"/>
            <xs:enumeration value="fiber"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="pause">
        <xs:annotation>
          <xs:documentation>
            Specifies if pausing of transmission is supported
            at all and if yes if it is asymmetric or symmetric.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="unsupported"/>
            <xs:enumeration value="symmetric"/>
            <xs:enumeration value="asymmetric"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-configuration-point-grouping">
    <xs:annotation>
      <xs:documentation>
        Representation of an OpenFlow Configuration Point.
        Instances of the Configuration Point class SHOULD be stored 
        persistently across reboots of the OpenFlow Capable Switch.
            
        When a connection is established between an OpenFlow Capable 
        Switch and a Configuration Point the switch  must store the 
        connection information in an instance of the Configuration 
        Point class. If such an instance does not exist, the OpenFlow 
        Capable Switch MUST create an instance where it then stores 
        the connection information.
            
        An OpenFlow Capable Switch that cannot initiate a connection 
        to a configuration point does not have to implement the 
        Configuration Point class. It SHOULD block attempts to write to 
        instances of the Configuration Point class with NETCONF 
        &lt;edit-config&gt; operations.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="id"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            A unique but locally arbitrary identifier that
            identifies a Configuration Point within the context of an 
            OpenFlow Capable Switch.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uri"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            A locator of the Configuration Point.  It 
            identifies the location of the Configuration Point as a 
            service resource and MUST include all information necessary 
            for the OpenFlow Capable Switch to connect to the 
            Configuration Point or re-connect to it should it become 
            disconnected.  Such information MAY include, for example, 
            protocol, fully qualified domain name, IP address, port 
            number, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="protocol">
        <xs:annotation>
          <xs:documentation>
            The transport protocol that the Configuration
            Point uses when communicating via NETCONF with the OpenFlow 
            Capable Switch.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ssh"/>
            <xs:enumeration value="soap"/>
            <xs:enumeration value="tls"/>
            <xs:enumeration value="beep"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-controller-grouping">
    <xs:annotation>
      <xs:documentation>
        This grouping specifies all properties of an
        OpenFlow Logical Switch Controller.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="id"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            A unique but locally arbitrary identifier that
            uniquely identifies an OpenFlow Controller within the context  
            of an OpenFlow Capable Switch.  It MUST be persistent across 
            reboots of the OpenFlow Capable Switch.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="role">
        <xs:annotation>
          <xs:documentation>
            This element indicates the role of the OpenFlow 
            Controller.  Semantics of these roles are specified in the 
            OpenFlow specifications 1.0 - 1.3.1.  It is RECOMMENDED that 
            the roles of controllers are not configured by OF-CONFIG 
            1.1.1 but determined using the OpenFlow protocol.  OpenFlow
            Controllers configured by OF-CONFIG 1.1.1 have the default 
            role 'equal'.  A role other than 'equal' MAY be assigned to a 
            controller.  Roles 'slave' and 'equal' MAY be assigned to 
            multiple controllers.  Role 'master' MUST NOT be assigned to 
            more than one controller.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="master"/>
            <xs:enumeration value="slave"/>
            <xs:enumeration value="equal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ip-address"  type="inet:ip-address">
        <xs:annotation>
          <xs:documentation>
            The IP address of the OpenFlow Controller.  This IP 
            address is used by the OpenFlow Logical Switch when connecting
            to the OpenFlow Controller.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="port"  type="inet:port-number">
        <xs:annotation>
          <xs:documentation>
            The TCP port number at the OpenFlow Controller.  
            This port number is used by the OpenFlow Logical Switch when 
            connecting to the OpenFlow Controller using TCP or TLS.  The 
            default value is 6633.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="local-ip-address"  type="inet:ip-address">
        <xs:annotation>
          <xs:documentation>
            The local IP address of the OpenFlow Logical Switch
            when connecting to this OpenFlow Controller.  It is the source
            IP address of packets sent to this OpenFlow Controller.  If 
            present, this element overrides any default IP address.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="local-port"  type="inet:port-number">
        <xs:annotation>
          <xs:documentation>
            The local TCP port number of the OpenFlow Logical 
            Switch when connecting to this OpenFlow Controller.  It is the 
            source TCP port number of packets sent to this OpenFlow 
            Controller.  If this element has its defaqult value 0, then 
            port number is chosen arbitrarily by the OpenFlow Logical 
            Switch.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="protocol">
        <xs:annotation>
          <xs:documentation>
            The default protocol tha the OpenFlow Logical 
            Switch uses to connect to this OpenFlow Controller.  'tls'
            is the default value.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="tcp"/>
            <xs:enumeration value="tls"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="state">
        <xs:annotation>
          <xs:documentation>
            This container holds connection state information
            that indicate the connection state of the OpenFlow Logical 
            Switch and the OpenFlow protocol version used for the 
            connection.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="connection-state" minOccurs="0"  type="up-down-state-type">
              <xs:annotation>
                <xs:documentation>
                  This object indicates the connections state of
                  the OpenFlow Logical Switch to this controller.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="current-version" minOccurs="0"  type="openflow-version">
              <xs:annotation>
                <xs:documentation>
                  This object indicates the version of the OpenFlow
                  protocol used between the OpenFlow Logical Switch and this
                  Controller.  If element connection-state has value 'up', 
                  then this element indicates the actual version in use.  If
                  element connection-state has value 'down', then this element
                  indicates the version number of the last established 
                  connection with this OpenFlow Controller.  The value of this 
                  element MAY be persistent across reboots of the OpenFlow 
                  Logical Switch in such a case.  If element connection-state 
                  has value 'down'and there is no information about previous 
                  there connections to this OpenFlow controller, then this 
                  element is not present or has the value '0'.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="supported-versions" minOccurs="0" maxOccurs="unbounded"  type="openflow-version">
              <xs:annotation>
                <xs:documentation>
                  This list of elements includes one entry for each
                  OpenFlow protocol version that this OpenFlow controller 
                  supports.  It SHOULD contain all
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="local-ip-address-in-use" minOccurs="0"  type="inet:ip-address">
              <xs:annotation>
                <xs:documentation>
                  The local IP address of the OpenFlow Logical Switch
                  when connecting to this OpenFlow Controller.  It is the source
                  IP address of packets sent to this OpenFlow Controller.  If 
                  present, this element overrides any default IP address.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="local-port-in-use" minOccurs="0"  type="inet:port-number">
              <xs:annotation>
                <xs:documentation>
                  The local TCP port number of the OpenFlow Logical 
                  Switch.  If element connection-state has value 'up', then
                  this element indicates the actual port number in use.  If
                  element connection-state has value 'down', then this element
                  indicates the port number used for the last attempt to 
                  establish a connection with this OpenFlow Controller.??? 
                  If  when connecting to this OpenFlow Controller.  It is the 
                  source TCP port number of packets sent to this OpenFlow 
                  Controller.  If this element has its defaqult value 0, then 
                  port number is chosen arbitrarily by the OpenFlow Logical 
                  Switch.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-flow-table-resource-grouping">
    <xs:annotation>
      <xs:documentation>
        Representation of an OpenFlow Flow Table Resource.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="resource-id"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            An unique but locally arbitrary identifier that
            identifies a flow table and is persistent across reboots of
            the system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max-entries"  type="xs:unsignedByte">
        <xs:annotation>
          <xs:documentation>
            The maximum number of flow entries supported by
            the flow table.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="next-tables">
        <xs:annotation>
          <xs:documentation>
            The array of flow table ids that can be directly
            reached from the present table using 'goto-table'
            instruction.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="table-id" minOccurs="0" maxOccurs="unbounded"  type="inet:uri"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="instructions">
        <xs:annotation>
          <xs:documentation>
            The instruction types supported by the flow
            table.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="instruction-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="matches">
        <xs:annotation>
          <xs:documentation>
            The match types supported by the flow table.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="match-field-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="write-actions">
        <xs:annotation>
          <xs:documentation>
            The write action types supported by the flow
            table.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="action-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="apply-actions">
        <xs:annotation>
          <xs:documentation>
            The apply action types supported by the flow
            table.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="action-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="write-setfields">
        <xs:annotation>
          <xs:documentation>
            'set-field' action types supported by the table
            using 'write-actions' instruction.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="match-field-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="apply-setfields">
        <xs:annotation>
          <xs:documentation>
            'set-field' action types supported by the table
            using 'apply-actions' instruction.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="match-field-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="wildcards">
        <xs:annotation>
          <xs:documentation>
            The fields for which the table supports wildcarding.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="match-field-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="metadata-match"  type="hex-binary">
        <xs:annotation>
          <xs:documentation>
            The bits of metadata the flow table can match.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="metadata-write"  type="hex-binary">
        <xs:annotation>
          <xs:documentation>
            The bits of metadata the flow table can write.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="KeyValueType">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:element name="DSAKeyValue">
            <xs:complexType>
              <xs:sequence>
                <xs:group ref="DSAKeyValueType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="RSAKeyValue">
            <xs:complexType>
              <xs:sequence>
                <xs:group ref="RSAKeyValueType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-external-certificate-grouping">
    <xs:annotation>
      <xs:documentation>
        This grouping specifies a certificate that can be
        used by an OpenFlow Logical Switch for authenticating a 
        controller when a TLS connection is established.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="resource-id"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            A unique but locally arbitrary identifier that 
            identifies an external certificate and is persistent across
            reboots of the system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="certificate"  type="xs:string">
        <xs:annotation>
          <xs:documentation>
            An X.509 certificate in DER format base64
            encoded.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-logical-switch-capabilities-grouping">
    <xs:annotation>
      <xs:documentation>
        This grouping specifies all properties of an
        OpenFlow logical switch's capabilities.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="max-buffered-packets"  type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>
            The maximum number of packets the logical switch
            can buffer when sending packets to the controller using
            packet-in messages.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max-tables"  type="xs:unsignedByte">
        <xs:annotation>
          <xs:documentation>
            The number of flow tables supported by the logical
            switch.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max-ports"  type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>
            The number of flow tables supported by the logical
            switch.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flow-statistics"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Specifies if the logical switch supports flow
            statistics.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="table-statistics"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Specifies if the logical switch supports table
            statistics.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="port-statistics"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Specifies if the logical switch supports port
            statistics.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="group-statistics"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Specifies if the logical switch supports group
            statistics.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="queue-statistics"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Specifies if the logical switch supports queue
            statistics.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reassemble-ip-fragments"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Specifies if the logical switch supports
            reassemble IP fragments.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="block-looping-ports"  type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            'true' indicates that a switch protocol outside of
            OpenFlow, such as 802.1D Spanning Tree, will detect topology
            loops and block ports to prevent packet loops.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reserved-port-types">
        <xs:annotation>
          <xs:documentation>
            Specify generic forwarding actions such as sending
            to the controller, flooding, or forwarding using non-OpenFlow
            methods, such as 'normal' switch processing.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="all"/>
                  <xs:enumeration value="controller"/>
                  <xs:enumeration value="table"/>
                  <xs:enumeration value="inport"/>
                  <xs:enumeration value="any"/>
                  <xs:enumeration value="normal"/>
                  <xs:enumeration value="flood"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="group-types">
        <xs:annotation>
          <xs:documentation>
            Specify the group types supported by the logical
            switch.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="all"/>
                  <xs:enumeration value="select"/>
                  <xs:enumeration value="indirect"/>
                  <xs:enumeration value="fast-failover"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="group-capabilities">
        <xs:annotation>
          <xs:documentation>
            Specify the group capabilities supported by the
            logical switch.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="capability" minOccurs="0" maxOccurs="unbounded">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="select-weight"/>
                  <xs:enumeration value="select-liveness"/>
                  <xs:enumeration value="chaining"/>
                  <xs:enumeration value="chaining-check"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="action-types">
        <xs:annotation>
          <xs:documentation>
            Specify the action types supported by the logical
            switch.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="action-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="instruction-types">
        <xs:annotation>
          <xs:documentation>
            Specify the instruction types supported by the
            logical switch.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"  type="instruction-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="openflow-port-resource-grouping">
    <xs:annotation>
      <xs:documentation>
        This grouping specifies all properties of an OpenFlow
        resource of type OpenFlow Port. It represent a physical port or a 
        logical port of the OpenFlow Capable Switch and can be assigned
        for exclusive use to an OpenFlow Logical Switch. A logical port 
        represents a tunnel endpoint as described in the OpenFlow protocol
        specification versions 1.3 - 1.3.1.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="resource-id"  type="inet:uri">
        <xs:annotation>
          <xs:documentation>
            A unique but locally arbitrary identifier that
            uniquely identifies an OpenFlow Port within the context  
            of an OpenFlow Logical Switch.  It MUST be persistent across 
            reboots of the OpenFlow Capable Switch.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number"  type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation>
            This number identifies the OpenFlow Port to 
            OpenFlow Controllers. It is assigned to an OpenFlow Port 
            lastest when the OpenFlow Port is associated with and OpenFlow
            Logical Switch.  If the OpenFlow Port is associated with an 
            OpenFlow Logical Switch, this element MUST be unique within 
            the context of the OpenFlow Logical Switch.  If no value is 
            currently assigned to this element then this element MUST
            not be included in replies to get-config requests or 
            get-status requests.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name">
        <xs:annotation>
          <xs:documentation>
            Textual port name to ease identification of the port
            at the switch.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="current-rate"  type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>
            The current rate in kilobit/second if the current
            rate selector has value 'other'.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max-rate"  type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>
            The maximum rate in kilobit/second if the current
            rate selector has value 'other'.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="configuration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="admin-state" minOccurs="0"  type="up-down-state-type">
              <xs:annotation>
                <xs:documentation>
                  The administrative state of the port.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="no-receive" minOccurs="0"  type="xs:boolean">
              <xs:annotation>
                <xs:documentation>
                  Specifies if receiving packets is not enabled on
                  the port.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="no-forward" minOccurs="0"  type="xs:boolean">
              <xs:annotation>
                <xs:documentation>
                  Specifies if forwarding packets is not enabled
                  on that port.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="no-packet-in" minOccurs="0"  type="xs:boolean">
              <xs:annotation>
                <xs:documentation>
                  Specifies if sending packet-in messages for
                  coming packets is not enabled on that port.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="state">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="oper-state"  type="up-down-state-type">
              <xs:annotation>
                <xs:documentation>
                  The operational state of the port.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="blocked"  type="xs:boolean">
              <xs:annotation>
                <xs:documentation>
                  tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="live"  type="xs:boolean">
              <xs:annotation>
                <xs:documentation>
                  tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="features">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="current" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  The features (rates, duplex, etc.) of the port
                  that are currently in use.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="openflow-port-current-features-grouping"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="advertised" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  The features (rates, duplex, etc.) of the port
                  that are advertised to the peer port.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="openflow-port-other-features-grouping"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="supported" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  The features (rates, duplex, etc.) of the port
                  that are supported on the port.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="openflow-port-other-features-grouping"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="advertised-peer" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  The features (rates, duplex, etc.) that are
                  currently advertised by the peer port.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="openflow-port-other-features-grouping"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:sequence>
          <xs:element name="tunnel">
            <xs:annotation>
              <xs:documentation>
                Features of a basic IP-in-GRE tunnel. Tunnels
                are modeld as logical ports.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="local-endpoint-ipv4-adress" minOccurs="0"  type="inet:ipv4-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv4 address of the local tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="local-endpoint-ipv6-adress" minOccurs="0"  type="inet:ipv6-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv6 address of the local tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="local-endpoint-mac-adress" minOccurs="0"  type="yang:mac-address">
                      <xs:annotation>
                        <xs:documentation>
                          The MAC address of the local tunnel endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-ipv4-adress" minOccurs="0"  type="inet:ipv4-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv4 address of the remote tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-ipv6-adress" minOccurs="0"  type="inet:ipv6-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv6 address of the remote tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-mac-adress" minOccurs="0"  type="yang:mac-address">
                      <xs:annotation>
                        <xs:documentation>
                          The MAC address of the remote tunnel endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="ipgre-tunnel">
            <xs:annotation>
              <xs:documentation>
                Features of a IP-in-GRE tunnel with key,
                checksum, and sequence number information.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="local-endpoint-ipv4-adress" minOccurs="0"  type="inet:ipv4-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv4 address of the local tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="local-endpoint-ipv6-adress" minOccurs="0"  type="inet:ipv6-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv6 address of the local tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="local-endpoint-mac-adress" minOccurs="0"  type="yang:mac-address">
                      <xs:annotation>
                        <xs:documentation>
                          The MAC address of the local tunnel endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-ipv4-adress" minOccurs="0"  type="inet:ipv4-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv4 address of the remote tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-ipv6-adress" minOccurs="0"  type="inet:ipv6-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv6 address of the remote tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-mac-adress" minOccurs="0"  type="yang:mac-address">
                      <xs:annotation>
                        <xs:documentation>
                          The MAC address of the remote tunnel endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:choice>
                <xs:element name="checksum-present" minOccurs="0"  type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>
                      Indicates presence of the GRE checksum.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="key-present" minOccurs="0"  type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>
                      Indicates presence of the GRE key.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="key" minOccurs="0"  type="xs:unsignedInt">
                  <xs:annotation>
                    <xs:documentation>
                      The (optional) key of the GRE tunnel.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="sequence-number-present" minOccurs="0"  type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>
                      Indicates presence of the GRE sequence
                      number.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="vxlan-tunnel">
            <xs:annotation>
              <xs:documentation>
                Features of a VxLAN tunnel.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="local-endpoint-ipv4-adress" minOccurs="0"  type="inet:ipv4-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv4 address of the local tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="local-endpoint-ipv6-adress" minOccurs="0"  type="inet:ipv6-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv6 address of the local tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="local-endpoint-mac-adress" minOccurs="0"  type="yang:mac-address">
                      <xs:annotation>
                        <xs:documentation>
                          The MAC address of the local tunnel endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-ipv4-adress" minOccurs="0"  type="inet:ipv4-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv4 address of the remote tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-ipv6-adress" minOccurs="0"  type="inet:ipv6-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv6 address of the remote tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-mac-adress" minOccurs="0"  type="yang:mac-address">
                      <xs:annotation>
                        <xs:documentation>
                          The MAC address of the remote tunnel endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:choice>
                <xs:element name="vni-valid" minOccurs="0"  type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>
                      Indicates how the corresponding flag should be
                      set in packets sent on the tunnel
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="vni" minOccurs="0"  type="xs:unsignedInt">
                  <xs:annotation>
                    <xs:documentation>
                      Virtual network identifier assigned to all
                      packets sent on the tunnel
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="vni-multicast-group" minOccurs="0"  type="inet:ip-address">
                  <xs:annotation>
                    <xs:documentation>
                      If IP multicast is used to support broadcast
                      on the tunnel this specifies the corresponding multicast
                      IP address
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="udp-source-port" minOccurs="0"  type="inet:port-number">
                  <xs:annotation>
                    <xs:documentation>
                      Specifies the outer UDP source port number.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="udp-dest-port" minOccurs="0"  type="inet:port-number">
                  <xs:annotation>
                    <xs:documentation>
                      Specifies the outer UDP destination port
                      number, generally the well-known port number for VxLAN
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="udp-checksum" minOccurs="0"  type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>
                      Boolean flag to indicate whether or not the
                      outer UDP checksum should be set
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="nvgre-tunnel">
            <xs:annotation>
              <xs:documentation>
                Features of a NVGRE tunnel.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="local-endpoint-ipv4-adress" minOccurs="0"  type="inet:ipv4-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv4 address of the local tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="local-endpoint-ipv6-adress" minOccurs="0"  type="inet:ipv6-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv6 address of the local tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="local-endpoint-mac-adress" minOccurs="0"  type="yang:mac-address">
                      <xs:annotation>
                        <xs:documentation>
                          The MAC address of the local tunnel endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-ipv4-adress" minOccurs="0"  type="inet:ipv4-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv4 address of the remote tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-ipv6-adress" minOccurs="0"  type="inet:ipv6-address">
                      <xs:annotation>
                        <xs:documentation>
                          The IPv6 address of the remote tunnel
                          endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence>
                    <xs:element name="remote-endpoint-mac-adress" minOccurs="0"  type="yang:mac-address">
                      <xs:annotation>
                        <xs:documentation>
                          The MAC address of the remote tunnel endpoint.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:choice>
                <xs:element name="tni" minOccurs="0"  type="xs:unsignedInt">
                  <xs:annotation>
                    <xs:documentation>
                      Specifies the tenant network identifier
                      assigned to all packets sent on the tunnel
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="tni-resv" minOccurs="0"  type="xs:unsignedInt">
                  <xs:annotation>
                    <xs:documentation>
                      Used to set the reserved user-defined bits of
                      the GRE key field
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="tni-multicast-group" minOccurs="0"  type="inet:ip-address">
                  <xs:annotation>
                    <xs:documentation>
                      If IP multicast is used to support broadcast
                      on the tunnel this specifies the corresponding multicast
                      IP address
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="RSAKeyValueType">
    <xs:sequence>
      <xs:element name="Modulus"  type="xs:base64Binary"/>
      <xs:element name="Exponent"  type="xs:base64Binary"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="capable-switch">
    <xs:annotation>
      <xs:documentation>
        The OpenFlow Capable Switch serves as the root 
        element for an OpenFlow configuration.  It contains logical
        switches and resources that can be assigned to logical
        switches.  It may have relations to OpenFlow Configuration 
        Points.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"  type="inet:uri">
          <xs:annotation>
            <xs:documentation>
              A unique but locally arbitrary identifier that
              uniquely identifies a Capable Switch within the context of 
              potential OpenFlow Configuration Points.  It MUST be 
              persistent across reboots of the OpenFlow Capable Switch.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="configuration-points" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="configuration-point" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list of all Configuration Points known to
                    the OpenFlow Capable Switch that may manage it using
                    OF-CONFIG.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="openflow-configuration-point-grouping"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="unique_configuration-points_capable-switch_configuration-point_0">
            <xs:selector xpath="of11-config:configuration-point"/>
            <xs:field xpath="of11-config:id"/>
          </xs:unique>
        </xs:element>
        <xs:element name="resources" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              A lists containing all resources of the OpenFlow
              Capable Switch that can be used by OpenFlow Logical Switches. 
              Resources are listed here independent of their actual 
              assignment to OpenFlow Logical Switches.  They may be 
              available to be assigned to an OpenFlow Logical Switch or 
              already in use by an OpenFlow Logical Switch.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="port" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list contains all port resources of the
                    OpenFlow Capable Switch.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="openflow-port-resource-grouping"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="queue" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list contains all queue resources of the
                    OpenFlow Capable Switch.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="openflow-queue-resource-grouping"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="owned-certificate" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list contains all owned certificate
                    resources of the OpenFlow Capable Switch.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="openflow-owned-certificate-grouping"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="external-certificate" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list contains all external certificate
                    resources of the OpenFlow Capable Switch.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="openflow-external-certificate-grouping"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="flow-table" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list contains all flow table resources of
                    the OpenFlow Capable Switch.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="openflow-flow-table-resource-grouping"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="unique_resources_capable-switch_port_0">
            <xs:selector xpath="of11-config:port"/>
            <xs:field xpath="of11-config:resource-id"/>
          </xs:unique>
          <xs:unique name="unique_resources_capable-switch_queue_0">
            <xs:selector xpath="of11-config:queue"/>
            <xs:field xpath="of11-config:resource-id"/>
          </xs:unique>
          <xs:unique name="unique_resources_capable-switch_owned-certificate_0">
            <xs:selector xpath="of11-config:owned-certificate"/>
            <xs:field xpath="of11-config:resource-id"/>
          </xs:unique>
          <xs:unique name="unique_resources_capable-switch_external-certificate_0">
            <xs:selector xpath="of11-config:external-certificate"/>
            <xs:field xpath="of11-config:resource-id"/>
          </xs:unique>
          <xs:unique name="unique_resources_capable-switch_flow-table_0">
            <xs:selector xpath="of11-config:flow-table"/>
            <xs:field xpath="of11-config:resource-id"/>
          </xs:unique>
        </xs:element>
        <xs:element name="logical-switches" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              This element contains a list of all OpenFlow 
              Logical Switches available at the OpenFlow Capable Switch.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="switch" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list of all OpenFlow Logical Switches on the
                    OpenFlow Capable Switch.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="openflow-logical-switch-grouping"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="unique_logical-switches_capable-switch_switch_0">
            <xs:selector xpath="of11-config:switch"/>
            <xs:field xpath="of11-config:id"/>
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
